    BODY  {font: 9pt Arial, verdana; color: black}
	TD {font: 9pt Arial,verdana; color: black} 
	A {font: 9pt Arial, verdana; text-decoration:underline; color: black}
    B  {font: 9pt Arial, verdana; font-weight: bold; color: black}
	U  {font: 9pt Arial,verdana; color: black}
	SMALL {font: 8pt  Arial,verdana; color: black}
